<footer class="site-footer">
  <div class="footer-social">
    <span>Fb</span><span>Yt</span><span>Tk</span><span>Pt</span><span>Ig</span><span>Tw</span><span>Rs</span>
  </div>
  <p class="footer-acknowledgement">
    Destination NSW acknowledges and respects Aboriginal people as the state's first people and nations and recognises Aboriginal people as the traditional owners and occupants of New South Wales land and water.
  </p>
  <div class="footer-links">
    <div class="footer-col">
      <h4>Sydney</h4>
      <a href="#">Contact us</a>
      <a href="#">Disclaimer</a>
      <a href="#">Privacy</a>
      <a href="#">Terms of use</a>
    </div>
    <div class="footer-col">
      <h4>On this site</h4>
      <a href="#">Destinations</a>
      <a href="#">Things to do</a>
      <a href="#">NSW road trips</a>
      <a href="#">Events</a>
      <a href="#">Accommodation</a>
    </div>
    <div class="footer-col">
      <h4>Information</h4>
      <a href="#">Travel information</a>
      <a href="#">Accessible Sydney</a>
      <a href="#">List your business</a>
      <a href="#">Business in NSW</a>
      <a href="#">Education in NSW</a>
    </div>
    <div class="footer-col">
      <h4>Our sites</h4>
      <a href="#">VisitNSW.com</a>
      <a href="#">DNSW Corporate</a>
      <a href="#">Regional Conferencing</a>
      <a href="#">DNSW Media Centre</a>
      <a href="#">Vivid Sydney</a>
    </div>
    <div class="footer-col">
      <h4>Partner with us</h4>
      <a href="#">List your business</a>
      <a href="#">Industry resources</a>
    </div>
  </div>
  <div class="footer-bottom">
    <span>Sydney.com is the official tourism site for Destination NSW. © Copyright 2024 Destination NSW. All rights reserved.</span>
    <div class="footer-logos">
      <div class="footer-logo-box"></div>
      <div class="footer-logo-box"></div>
    </div>
  </div>
</footer>
